@import "tailwindcss";

@theme {
  --color-indrox-purple: #9000FF;
  --color-indrox-purple-light: #B44DFF;
  --color-indrox-purple-dark: #4F008C;
  --color-indrox-cream: #F1EFE7;
  --color-indrox-bg: #0E0816;
  --color-indrox-bg-card: #160E22;
  --color-indrox-bg-card-hover: #1F1530;
  --color-indrox-gold: #FFD700;
  --color-indrox-gold-dark: #FFA500;
  --color-indrox-silver: #C0C0C0;
  --color-indrox-bronze: #CD7F32;

  --font-display: 'Outfit', sans-serif;
  --font-body: 'Sora', sans-serif;
}

html {
  scroll-behavior: smooth;
}